h1, h2 {
    &:first-child { margin-top: 0; }
}

p, pre {
    margin: 0 0 ($baseSpacing * 1.5);
}

h2 a {
    color: color(black);
    position: relative;
    text-decoration: none;

    &:before {
        color: color(purple, light);
        content: '#';
        font-weight: 500;
        left: -1em;
        opacity: .5;
        position: absolute;
        top: -2px;
        transition: opacity .075s ease;
    }

    &:focus { outline: none; }
    &:hover,
    &:focus {
        &:before { opacity: 1; }
    }
}

h3 { margin-bottom: $smallSpacing; }

.content {
    background-color: color(white);
    min-height: 80vh;
    padding: $baseSpacing $baseSpacing $baseSpacing $largeSpacing;

    @include media('>md') {
        flex: 1 1 70%;
        padding: $largeSpacing $baseSpacing $largeSpacing $giantSpacing;
        position: relative;

        &:after {
            background-color: color(white);
            bottom: 0;
            content: '';
            position: absolute;
            right: -9999px;
            top: 0;
            width: 9999px;
        }
    }
}