.header {
    background-color: color(purple, dark);
    padding: $baseSpacing 0;
    @include clearfix;
}

.header__logo {
    background-image: url('../img/agrilyst-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95px 36px;
    float: left;
    height: 36px;
    margin-top: -1px;
    width: 95px;
    @include hideText;
}

.header__title {
    color: color(purple, light);
    cursor: default;
    float: right;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-top: 11px;
    margin-left: $baseSpacing;
    margin-bottom: 0;

    .lg { display: none ;}

    @include media('>sm') {
        font-size: 22px;
        margin-top: 8px;

        .lg { display: inline-block; }
        .sm { display: none; }
    }
}