.nav-toggle {
    float: right;
    margin: 10px 0 10px $baseSpacing;

    &.is-active {
        .nav-toggle__bar {
          transform: rotate(0deg);
        }
        .nav-toggle__bar:nth-child(1) {
          transform: rotate(-45deg);
        }
        .nav-toggle__bar:nth-child(2) {
          opacity: 0;
        }
        .nav-toggle__bar:nth-child(3) {
          transform: rotate(45deg);
        }
    }

    @include media('>md') { display: none; }
}
.nav-toggle__bar {
    background-color: color(white);
    border-radius: 1px;
    display: block;
    height: 3px;
    width: 22px;
    transition: all .125s ease-out;
    transform-origin: 21px;

    & + .nav-toggle__bar {
        margin-top: 4px;
    }
}

.nav {
    background-color: color(purple);
    display: none;
    padding: $baseSpacing 0;

    &.is-active {
        display: block;
    }

    @include media('>md') {
        background-color: transparent;
        display: block;
        flex: 1 1 30%;
        padding: $largeSpacing 0 $largeSpacing $baseSpacing;

        &.is-fixed {
            padding-top: 0;
            padding-bottom: 0;
            position: relative;

            .nav__content {
                position: fixed;
                top: $largeSpacing;
                width: 100%;
            }
        }

        &.is-bottom {
            position: relative;

            .nav__content {
                position: absolute;
                top: auto;
                bottom: $largeSpacing;
                width: 100%;
            }
        }
    }
}

.nav__heading {
    color: color(purple, light);
    font-size: 15px;
    font-weight: bold;
    padding: 0 $baseSpacing;
    text-transform: uppercase;

    @include media('>md') {
        color: color(black);
        padding: 0 0 0 $smallSpacing;
    }
}

.nav-menu {
    border-bottom: 1px lighten(color(purple), 5%) solid;
    border-top: 1px darken(color(purple), 5%) solid;
    display: inline-block;
    list-style: none;
    margin: 0 0 $baseSpacing;
    padding: 0;
    width: 100%;

    @include media('>md') {
        border: 0;
    }
}

.nav-menu__item {
    border-bottom: 1px darken(color(purple), 5%) solid;
    border-top: 1px lighten(color(purple), 5%) solid;

    @include media('>md') {
        border: 0;

        &.has-dropdown {
            .nav-menu__link {
                background-image: url('../img/triangle.svg');
                background-position: 5px center;
                background-repeat: no-repeat;
                background-size: 5px;
            }

            &.is-current .nav-menu__link {
                background-image: url('../img/triangle-down.svg');
                background-position: 4px center;
                background-size: auto 5px;
            }
        }

        &.is-current {
            .nav-menu__link {
                background-color: color(white);
                border-left: 2px lighten(color(gray, light), 15%) solid;
            }
            .nav-menu__submenu {
                display: block;
            }
        }
    }
}

.nav-menu__link {
    color: color(white);
    display: inline-block;
    font-size: 16px;
    padding: $smallSpacing $baseSpacing;
    text-decoration: none;
    width: 100%;

    &:hover {
        background-color: lighten(color(purple), 3%);
        color: color(white);
    }

    @include media('>md') {
        border-left: 2px transparent solid;
        padding-left: $baseSpacing;
        color: color(purple);

        &:hover {
            background-color: transparentize(color(white), .5);
            border-left: 2px lighten(color(gray, light), 15%) solid;
            color: color(purple);
        }
    }
}

.nav-menu__submenu {
    border-left: 2px darken(color(purple), 10%) solid;
    list-style: none;
    margin: 0 0 $smallSpacing $baseSpacing;
    padding: 0;

    @include media('>md') {
        border-left-color: lighten(color(gray, light), 18%);
        display: none;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.nav-submenu__item {
    @include media('>md') {
        &.is-current .nav-submenu__link {
            background-color: darken(color(gray, lightest), 1%);
            text-decoration: underline;
        }
    }
}

.nav-submenu__link {
    color: transparentize(color(white), .25);
    display: inline-block;
    font-size: 14px;
    padding: $smallSpacing $baseSpacing;
    text-decoration: none;
    width: 100%;

    &:hover {
        background-color: lighten(color(purple), 3%);
        color: color(white);
    }

    @include media('>md') {
        color: color(purple);

        &:hover {
            background-color: darken(color(gray, lightest), 1%);
            color: color(black);
        }
    }
}