.home-learn-green {
  background: $green;
  padding: 60px 0;
}

.home-learn-green-left {
  max-width: 475px;
  text-align: center;
  margin-top: 40px;
  margin: 40px auto 0 auto;
  p {
    color: white;
    font-size: 21px;
    font-weight: 300;
  }
  .button {
    margin-top: 30px;
  }
}



.home-learn-green-right {
  width: 290px;
  height: 210px;
  position: relative;
  margin: 0 auto;
  img {
    width: 100%;
  }
  .six {
    position: absolute;
    width: 115px;
    top: 75px;
    left: 0;
  }
  .checkbox {
    position: absolute;
    width: 52px;
    top: 0;
    left: 55px;
  }
  .pl {
    position: absolute;
    width: 155px;
    left: 130px;
    top: 20px;
  }
}

.home-learn-green-right .bar-chart-wrap {
  position: absolute;
  width: 135px;
  height: 95px;
  top: 124px;
  left: 144px;
  .bar-chart {
    position: relative;
    width: 135px;
    height: 95px;
  }
  .bar {
    width: 12px;
    height: 100%;
    background: white;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .bar:nth-child(2) {
    left: 17px;
  }
  .bar:nth-child(3) {
    left: 34px;
  }
  .bar:nth-child(4) {
    left: 51px;    
  }
  .bar:nth-child(5) {
    left: 68px;   
  }
  .bar:nth-child(6) {
    left: 85px; 
    background: #8ebe4f;
  }
  .bar:nth-child(7) {
    left: 102px;
    background: #8ebe4f;   
  }
  .bar:nth-child(8) {
    left: 119px;
    background: #8ebe4f;
  }
}

.home-learn-green-right .bar-chart-wrap {
  .bar:nth-child(1) {
    max-height: 90%;
  }
  .bar:nth-child(2) {
    max-height: 100%;
  }
  .bar:nth-child(3) {
    max-height: 65%;
  }
  .bar:nth-child(4) {
    max-height: 45%;
  }
  .bar:nth-child(5) {
    max-height: 75%;
  }
  .bar:nth-child(6) {
    max-height: 62%;
  }
  .bar:nth-child(7) { 
    max-height: 72%;  
  }
  .bar:nth-child(8) {
    max-height: 88%;
  }
}


@media (min-width: $mediumbp) {
  .home-learn-green {
    padding: 90px 0;
  }
  .home-learn-green-left {
    max-width: 520px;
    p {
      font-size: 25px;
    }
    .button {
      margin-top: 40px;
    }
  }  
}

@media (min-width: $largebp) {
  .home-learn-green {
    padding: 115px 0;
    .width {
      position: relative;
    }
  }
  .home-learn-green-left {
    margin: 0;
    text-align: left;
  }
  .home-learn-green-right {
    position: absolute;
    top: 15px;
    right: 30px;
  }
}