.home-learn-white {
  background: #f1f1f0;
  padding: 60px 0;
  overflow: hidden;
  @extend %clear;
  .crops {
    position: relative;
    width: 250px;
    height: 430px;
    margin: 0 auto;
  }
  .crop {
    width: 250px;
    position: absolute;
    img {
      width: 100%;
    }
  }
  .arugula {
    top: 160px;
    right: -70px;
  }
  .tomato {
    top: 65px;
    left: -79px;
  }
  .basil {
    top: 0;
    right: 0px;
  }
}



.home-learn-white-right {
  max-width: 475px;
  text-align: center;
  margin: 25px auto 0 auto;
  p {
    color: $black;
    font-size: 21px;
    font-weight: 300;
  }
  p + p {
    margin-top: 40px;
  }
  .button {
    margin-top: 30px;
  }
}

@media (min-width: $mediumbp) {
  .home-learn-white {
    padding: 90px 0;
    overflow: hidden;
  }

  .home-learn-white-right {
    max-width: 520px;
    p {
      font-size: 25px;
    }
    .button {
      margin-top: 40px;
    }
  }  
}

@media (min-width: $largebp) {
  .home-learn-white {
    padding: 115px 0;
    position: relative;
  }
  .home-learn-white-right {
    float: right;
    text-align: left;
  }
  .home-learn-white-left {
    position: absolute;
    .crops {
      position: relative;
      width: 300px;
      height: 430px;
      margin: 0 auto;
    }
    .crop {
      width: 300px;
      position: absolute;
    }
    .arugula {
      top: 325px;
      right: -100px;
      img {
        @include transition-delay(0.4s); 
      }
    }
    .tomato {
      top: 103px;
      left: -80px;
      img {
        @include transition-delay(0.2s); 
      }
    }
    .basil {
      top: 0;
      right: 0px;
    }
  }
}