html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: color(purple, darkest);

  font-family: $fontSans;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

body {
  background-color: color(gray, lightest);
  margin: 0 auto;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

a {
  color: color(purple);

  &:hover,
  &:focus {
    color: lighten(color(purple), 20%);
  }
}