<h2><a href="#health" id="health">GET /health - Health Check</a></h2>
<p>This check is the only API check that does not require authentication.  The health check endpoint returns a 200 OK if the API is up and working. Any other status indicates a failure in the API.</p>
<h3>Command:</h3>
<pre><code class='curl'>curl \
  -u example@agrilyst.com:75AFDB82 \
  https://api.agrilyst.com/api/v2/health
</code></pre>

<h3>Successful Return:</h3>
<pre><code>{"health":"OK"}
</code></pre>
<p>
  Status Code(s): 200
</p>

<h3>Failed Return:</h3>
<p>
Status Code(s): Timeout, Any 4xx or 5xx status code
</p>
