<h2><a href="#list-sensors" id="list-sensors">GET /sensors - List Sensors</a></h2>
<p>This endpoint displays all available sensors for your organization.</p>

<pre><code>curl \
  -u example@agrilyst.com:75AFDB82 \
  https://api.agrilyst.com/api/v2/sensors
</code></pre>

<h3>Successful Return:</h3>
<pre><code>[{
  "id": 1,
  "name": "Sensor 1",
  "model": "priva",
  "visible": "true",
  "status": "active"
}, {
  "id": 2,
  "name": "Sensor 2",
  "model": "wadsworth",
  "visible": "true",
  "status": "active"
}]</code></pre>
<p>
Status Code(s): 200
</p>

<h3>Failed Return:</h3>
<p>
Status Code(s): Timeout, Any 4xx or 5xx status code
</p>
