<h2><a href="#save-sensor-data" id="save-sensor-data">POST /sensor_data - Save Sensor Data</a></h2>
<p class='deprecated'><em>Note:</em> This endpoint is accessible via POST /metrics but this URL is deprecated and will be removed.</p>
<p>This endpoint accepts a POST method and saves data recordings for a sensor. It expects three values: a sensor metric ID, a timestamp, and a value. It returns a 200 OK with a status for each metric.</p>

<pre><code class='bash'>curl \
  -u example@agrilyst.com:75AFDB82 \
  -X POST \
  -d '{
    "metrics": [
      { "id": 2,
       "value": 42,
       "time": 1471979056
      },
      { "id": 2,
       "value": 55,
       "time": 1471979057
      },
    ]
  }'
  https://api.agrilyst.com/api/v2/metrics</code></pre>

<h3>Successful Return:</h3>
<p>
  Status Code(s): 200, list of metrics and status
</p>
<pre><code>{
  "status": 200,
  "message": {
    "id=2, time=1471979056, value=42": "saved",
    "id=2, time=1471979057, value=55": "saved"
  }
}</code></pre>
</p>

<h3>Failed Return:</h3>
<p>
Status Code(s): Timeout, Any 4xx or 5xx status code
</p>
