<h2><a href="#show-sensor-metric" id="show-sensor-metric">GET /sensors/:sensor_id/sensor_metrics/:id - Show Sensor Metric</a></h2>
<p>Get data for a specific sensor metric under a sensor.</p>

<pre><code class='bash'>curl \
  -u example@agrilyst.com:75AFDB82 \
  https://api.agrilyst.com/api/v2/sensors/56789/sensor_metrics/54321
</code></pre>

<h3>Successful Return:</h3>
<pre><code>{
  "id": 54321,
  "metric": "CO2 Percentage",
  "metric_units": "%",
  "description": "Track carbon dioxide in Greenhouse 1",
  "status": "active"
}</code></pre>
<p>
Status Code(s): 200
</p>

<h3>Failed Return:</h3>
<p>
Status Code(s): Timeout, Any 4xx or 5xx status code
</p>
