<h2><a href="#show-sensor" id="show-sensor">GET /sensor/:id - Show Sensor</a></h2>
<p>Get data for a specific sensor in a facility.</p>

<pre><code>curl \
  -u example@agrilyst.com:75AFDB82 \
  https://api.agrilyst.com/api/v2/sensors/123456
</code></pre>

<h3>Successful Return:</h3>
<pre><code>{
  "id": 1,
  "name": "Sensor 1",
  "model": "priva",
  "visible": "true",
  "status": "active"
}</code></pre>
<p>
Status Code(s): 200
</p>

<h3>Failed Return:</h3>
<p>
Status Code(s): Timeout, Any 4xx or 5xx status code
</p>
