@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu.eot?#iefix') format('embedded-opentype'),  url('../fonts/Apercu.woff') format('woff'), url('../fonts/Apercu.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Apercu-Medium.woff') format('woff'), url('../fonts/Apercu-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Apercu-Bold.woff') format('woff'), url('../fonts/Apercu-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/apercu-light-webfont.woff2') format('woff2'),
         url('../fonts/apercu-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}