.footer-top {
  background: #1b1925;
  .width {
    border-bottom: 1px solid #252230;
    padding-top: 40px;
    padding-bottom: 40px;
    @extend %clear;
  }
  ul {
    text-align: center;
  }
  li {
    list-style: none;
    font-weight: 500;
  }
  li + li {
    margin-top: 10px;
  }
  a {
    color: #bdbac6;
    font-size: 15px;
    &:hover {
      color: white;
    }
  }
  .get-started {
    display: none;
  }
  img {
    width: 94px;
    margin: 40px auto 0 auto;
    display: block;
  }
}

.footer {
  background: #1b1925;
  text-align: center;
  padding: 60px 0;
  .width {
    @extend %clear;
  }
}

.footer-box {
  h3 {
    color: #807d8a;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p, a, address {
    font-size: 15px;
    font-weight: 700;
    color: #bdbac6;
  }
  address {
    font-style: normal;
  }
  a {
    &:hover {
      color: white;
    }
  }
  img {
    height: 23px;
  }
  li {
    display: inline;
    list-style: none;
  }
  li + li {
    margin-left: 20px;
  }
  &+.footer-box {
    margin-top: 40px;
  }
}

.social a {
  opacity: .75;

  &:hover,
  &:focus {
    opacity: 1;
  }
}




@media (min-width: $mediumbp) {
  .footer-top {
    li {
      display: inline;
      color: #8b8895;
    }
    li + li {
      margin-top: 0;
      margin-left: 40px;
    }
    .get-started {
      display: inline;
    }
    .get-started-mobile {
      display: none;
    }
  } 

  .footer {
    text-align: left;
  }

  .footer-box {
    float: left;
    &+.footer-box {
      margin-top: 0;
      margin-left: 50px;
    }
    &.social {
      float: right;
    }
    &+.footer-box.social {
      margin-left: 0;

    }
  } 
}

@media (min-width: $largebp) {
  .footer-top {
    ul {
      float: right;
    }
    li a {
      line-height: 38px;
    }
    img {
      float: left;
      margin: 0;
    }
  } 

  .footer-box {
    float: left;
    &+.footer-box {
      margin-top: 0;
      margin-left: 100px;
    } 
  }
}