.payments {
    background-color: #1B1925;
    text-align: left;

    .header {
        background-color: #473894;
        padding-bottom: 20px;
        position: static;

        h1 {
            opacity: 1 !important;
            transform: none !important;
        }
        h1 a {
            cursor: default;
            pointer-events: none;
        }
    }

    .width {
        max-width: 800px;
        @include clearfix;
    }
    .form-group--half {
        @media (min-width: $mediumbp) {
            &:nth-of-type(odd) { padding-right: .5em; }
            &:nth-of-type(even) { padding-left: .5em; }
        }
    }
    .form-label { text-align: left; }

    .button {
        border: none;
        font-size: 16px;

        &:disabled {
            color: rgba(0,0,0,0);
            background-image: url('../img/loading.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
        }
    }
}
