@media (min-width: $largebp) {

  // Logo
  h1 {
    opacity: 0;
    @include transform(translateY(-20px));
    @include transition(0.4s opacity, 0.4s transform);
    @include transition-delay(0.5s);
  }

  .loaded h1 {
    opacity: 1;
    @include transform(translateY(0px));
  }

  // Navigation
  .navigation {
    li {
      opacity: 0;
      @include transform(translateY(-20px));
      @include transition(0.4s opacity, 0.4s transform);
    }
    li:nth-child(1) {
      @include transition-delay(0.6s);
    }
    li:nth-child(2) {
      @include transition-delay(0.7s);
    }
    li:nth-child(3) {
      @include transition-delay(0.8s);    
    }
    li:nth-child(4) {
      @include transition-delay(0.9s);    
    }
  }

  .loaded .navigation {
    li {
      opacity: 1;
      @include transform(translateY(0px));    
    }
  }

  // Hero Text
  .home .hero-content h2 {
    opacity: 0;
    @include transform(translateY(20px));
    @include transition(0.4s transform, 0.4s opacity);
    @include transition-delay(1.1s);
  }

  .loaded .home .hero-content h2 {
    opacity: 1;
    @include transform(translateY(0));
  }

  // Green Section Text
  .home-learn-green-left {
    p, .button {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(opacity 0.4s, transform 0.4s);
    }
    .button {
      @include transition-delay(0.15s);
    }
  }

  .home-learn-green.active .home-learn-green-left {
    p, .button {
      opacity: 1;
      @include transform(translateY(0));    
    }
  }

  // Green Section Graphics
  .home-learn-green-right {
    img {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(opacity 0.4s, transform 0.4s);
    }
    .checkbox img {
      @include transition-delay(0.3s);
    }
    .six img {
      @include transition-delay(0.45s);
    }
    .pl img {
      @include transition-delay(0.6s);    
    }
    .bar-chart-wrap {
      .bar {
        max-height: 0;
        @include transition(max-height 0.25s);
        @include transition-delay(0.75s);
      }
      .bar:nth-child(1) {
        max-height: 0;
      }
      .bar:nth-child(2) {
        max-height: 0;
        @include transition-delay(0.85s);
      }
      .bar:nth-child(3) {
        max-height: 0;
        @include transition-delay(0.95s);
      }
      .bar:nth-child(4) {
        max-height: 0;
        @include transition-delay(1.05s);
      }
      .bar:nth-child(5) {
        max-height: 0;
        @include transition-delay(1.15s);
      }
      .bar:nth-child(6) {
        max-height: 0;
        @include transition-delay(1.25s);
      }
      .bar:nth-child(7) {
        max-height: 0;
        @include transition-delay(1.35s);
      }
      .bar:nth-child(8) {
        max-height: 0;
        @include transition-delay(1.45s);
      }
    }
  }

  .home-learn-green.active .home-learn-green-right {
    .checkbox img, .six img, .pl img {
      opacity: 1;
      @include transform(translateY(0));    
    }
    .bar-chart-wrap {
      .bar:nth-child(1) {
        max-height: 90%;
      }
      .bar:nth-child(2) {
        max-height: 100%;
      }
      .bar:nth-child(3) {
        max-height: 65%;
      }
      .bar:nth-child(4) {
        max-height: 45%;
      }
      .bar:nth-child(5) {
        max-height: 75%;
      }
      .bar:nth-child(6) {
        max-height: 62%;
      }
      .bar:nth-child(7) { 
        max-height: 72%;  
      }
      .bar:nth-child(8) {
        max-height: 88%;
      }
    }
  }


  // White Section
  .home-learn-white {
    .crop {
      img {
        opacity: 0;
        @include transform(translateY(20px) scale(0.7));
        @include transition(0.4s transform, 0.4s opacity);
      }
    }
    .arugula {
      img {
        @include transition-delay(0.3s); 
      }
    }
    .tomato {
      img {
        @include transition-delay(0.15s); 
      }
    }
    p, .button {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(0.4s transform, 0.4s opacity);
    }
    .first-p {
      @include transition-delay(0.45s);
    }
    .second-p {
      @include transition-delay(0.6s);
    }
    .button {
      @include transition-delay(0.75s);
    }
  }

  .home-learn-white.active {
    .crop {
      img {
        opacity: 1;
        @include transform(translateY(0px) scale(1));
      }
    }
    p, .button {
      opacity: 1;
      @include transform(translateY(0));
    }
  }

  // Purple Section
  .home-create {
    p {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(transform 0.4s, opacity 0.4s);
      @include transition-delay(0.6s);
    }
    .button {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(transform 0.4s, opacity 0.4s);
      @include transition-delay(0.7s);
    }
    li {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(transform 0.4s, opacity 0.4s);
    }
    li:nth-child(2) {
      @include transition-delay(0.1s);      
    }
    li:nth-child(3) {
      @include transition-delay(0.2s); 
    }
    li:nth-child(4) {
      @include transition-delay(0.3s);      
    }
    li:nth-child(5) {
      @include transition-delay(0.4s);     
    }
    li:nth-child(6) {
      @include transition-delay(0.5s);      
    }
  }

  .home-create.active {
    li {
      opacity: 1;
      @include transform(translateY(0));
    }
    p, .button {
      opacity: 1;
      @include transform(translateY(0));    
    }
  }

  // Footer Top
  .footer-top {
    img, li {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(transform 0.4s, opacity 0.4s);
    }
    li {
      display: inline-block;
    }
    ul {
      li:nth-child(1) {
        @include transition-delay(0.1s);
      }
      li:nth-child(2) {
        @include transition-delay(0.2s);
      }
      li:nth-child(3) {
        @include transition-delay(0.3s);
      }
      li:nth-child(4) {
        @include transition-delay(0.4s);
      }
      li:nth-child(5) {
        @include transition-delay(0.5s);
      }
      li:nth-child(6) {
        @include transition-delay(0.6s);
      }
    }
  }

  .footer-top.active {
    img, li {
      opacity: 1;
      @include transform(translateY(0));
    }    
  }

  // Footer Bottom
  .footer {
    .footer-box {
      opacity: 0;
      @include transform(translateY(20px));
      @include transition(transform 0.4s, opacity 0.4s);     
    }
    .footer-box:nth-child(2) {
      @include transition-delay(0.1s);
    }
    .footer-box:nth-child(3) {
        @include transition-delay(0.2s);
    }
    .footer-box:nth-child(4) {
      @include transition-delay(0.3s);
    }
  }

  .footer.active {
    .footer-box {
      opacity: 1;
      @include transform(translateY(0));     
    }
  }

}