<h2><a href="#listtankmetrics" id="listtankmetrics">GET /tank_metrics - List Tank Metrics</a></h2>
<p>This endpoint displays all available metrics for a tank. It returns a JSON array of common and organization specific tank metrics.</p>

<pre><code>
curl \
-u example@agrilyst.com:75AFDB82 \
https://api.agrilyst.com/api/v2/tank_metrics
</code></pre>

<h3>Successful Return:</h3>
<pre><code>
[{
"id": 1,
"name": "pH",
"units": "numeric"
}, {
"id": 2,
"name": "Temperature",
"units": "degrees"
}, {
"id": 3,
"name": "EC",
"units": "numeric"
}]
</code></pre>
Status Code(s): 200
</p>
<h3>Failed Return:</h3>
Status Code(s): Timeout, Any 4xx or 5xx status code
