<h2><a href="#save-tank-reading" id="save-tank-reading">POST /tank_reading - Save Tank Reading</a></h2>
<p>This endpoint accepts a POST method and saves a reading for a tank. A reading is comprised of a tank_reading object, and several metric objects. It returns a 200 OK with a status for each metric.</p>

<pre><code class='bash'>curl \
  -u example@agrilyst.com:75AFDB82 \
  -X POST \
  -d '{
    "tank_reading": {
      "tank_id": 2,
      "time": 1486142194
      "overwrite": true
    },
    "metrics": [
      { "id": 2,
        "value": 4.5
      },
      { "id": 3,
        "value": 50
      }
    ]
  }'
  https://api.agrilyst.com/api/v2/tank_reading
</code></pre>

<h3>Successful Return:</h3>
<p>
Status Code(s): 200, list of metrics and status
</p>
<pre><code>{
  "status": 200,
  "message": {
    "id=2, time=1471979056, value=42": "saved",
    "id=2, time=1471979057, value=55": "saved"
  }
}</code></pre>

<h3>Failed Return:</h3>
<p>
Status Code(s): Timeout, Any 4xx or 5xx status code
</p>
